<!DOCTYPE html>
<html lang="fr" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>

    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>

<body>
    {% if app.user %}
      <a href="{{ path('_security_logout') }}">Logout</a>
    {% else %}
      <a href="{{ path('fos_user_security_login') }}">Login without FB</a>
      {{ facebook_login_button() }}
      {{ facebook_initialize({'xfbml': true, 'culture': 'fr_FR', 'fbAsyncInit': 'onFbInit();'}) }}
      <script type="text/javascript" > // Script for FOSFacebookBundle
        function goLogIn(){
          window.location = "{{ path('_security_check') }}";
        }

        function onFbInit() {
          if (typeof(FB) != 'undefined' && FB != null ) {
            FB.Event.subscribe('auth.statusChange', function(response) {
              if (response.session || response.authResponse) setTimeout(goLogIn, 50);
              else window.location = "{{ path('_security_logout') }}";
            });
          }
        }
      </script>
    {% endif %}

    {% block content %}{% endblock %}

    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('/js/bootstrap.js') }}"></script>
</body>
</html>