<!DOCTYPE html>
<html lang="fr" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>

    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/wottfront/css/styles.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>

<body>
{% block header %}
  <header>
      <div class="row">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-md-2 navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1>
                  <a href="{{ path('homepage') }}">
                    <img src="{{ asset('bundles/wottfront/images/logo.png') }}" alt="Logo WOTT">
                  </a>
                </h1>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-md-6 collapse navbar-collapse navbar-ex1-collapse">
                {{ knp_menu_render('wottFrontBundle:Builder:mainMenu', { 'style': 'navbar' }) }}
            </div><!-- /.navbar-collapse -->

            <div class="col-md-4 pull-right">
              {% if app.user %}
                <div class="pull-left">
                  <a class="btn btn-default btn-xs" href="{{ path('_security_logout') }}">Logout</a>
                </div>
              {% else %}
                <div class="pull-left">
                  <a class="btn btn-default btn-xs" href="{{ path('fos_user_security_login') }}">Login without FB</a>
                </div>
                <div>
                  {{ facebook_login_button() }}
                  {{ facebook_initialize({'xfbml': true, 'culture': 'fr_FR', 'fbAsyncInit': 'onFbInit();'}) }}
                </div>
                <script type="text/javascript" > // Script for FOSFacebookBundle
                  function goLogIn(){
                    window.location = "{{ path('_security_check') }}";
                  }

                  function onFbInit() {
                    if (typeof(FB) != 'undefined' && FB != null ) {
                      FB.Event.subscribe('auth.statusChange', function(response) {
                        if (response.session || response.authResponse) setTimeout(goLogIn, 50);
                        else window.location = "{{ path('_security_logout') }}";
                      });
                    }
                  }
                </script>
              {% endif %}
              </div>
            </div>
        </nav>
      </div>
    </header>

    <section id="main" class="container-fluid" role="content">
        {% block content %}{% endblock %}
    </section>

    <footer>
      <div class="container">
        <p class="text-center">Copyright &copy; - 2014 - What's On TV Tonight</p>
        <p class="text-center"><a href="{{ path('mentions') }}">Mentions légales</a></p>
      </div>
    </footer>

    {% block javascript %}
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('/js/bootstrap.js') }}"></script>
    {% endblock %}
</body>
</html>
