<!DOCTYPE html>
<html lang="fr" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <title> WOTT - {% block title %}Home{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/wottfront/css/styles.css') }}" rel="stylesheet" media="screen">
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    <script type="text/javascript">
        function goLogIn(){
            window.location = "{{ path('_security_check') }}";
        }

        function onFbInit() {
            if (typeof(FB) != 'undefined' && FB != null ) {
                FB.Event.subscribe('auth.statusChange', function(response) {
                    if (response.session || response.authResponse) setTimeout(goLogIn, 50);
                    else window.location = "{{ path('_security_logout') }}";
                });
            }
        }
    </script>
</head>

<body>
    {% block header %}
    <header>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="{{ path('homepage') }}"><img src="{{ asset('bundles/wottfront/images/logo.png') }}" alt="Logo WOTT"></a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    {{ knp_menu_render('wottFrontBundle:Builder:mainMenu', { 'style': 'navbar', 'currentClass':'active'}) }}
                    {% if app.user %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mon compte <b class="caret"></b></a>
                            <ul class="dropdown-menu" aria-labelledby="Mon compte">
                                <li><a href="{{ path('profile') }}">Voir mon profil</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('_security_logout') }}" class="btn btn-danger navbar-btn center-block" id="btn-logout">Déconnexion</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            {{ facebook_login_button() }}
                            {{ facebook_initialize({'xfbml': true, 'culture': 'fr_FR', 'fbAsyncInit': 'onFbInit();'}) }}
                        </li>
                        <li><a href="{{ path('fos_user_security_login') }}">Connexion / Inscription sans Facebook</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

    <div class="jumbotron">
        <h1>What's on TV tonight ?</h1>
        <p>Bienvenue sur WOTT.fr, le site de suggestion de films pour ne plus glander devant TF1 le dimanche soir ! ;)</p>
    </div>

    <section id="main" class="container-fluid" role="content">
    {% block content %}{% endblock %}
    </section>

    <footer class="well">
      <div class="container">
        <p class="text-center">Copyright &copy; - 2014 - What's On TV Tonight</p>
        <p class="text-center"><a href="{{ path('mentions') }}">Mentions légales</a></p>
      </div>
    </footer>

    {% block javascript %}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{{ asset('/js/bootstrap.js') }}"></script>

    <script type="text/javascript" > // Script for FOSFacebookBundle
         $(document).ready(function() {
            // Like, watch and seen actions
            $('.action').click(function() {
                var $this = $(this)
                  , idFilm = $this.data('id')
                  , action = $this.data('action');

                $.ajax({
                    type: 'POST',
                    url: "{{ path('filmUser') }}",
                    data: {'idFilm' : idFilm, 'action' : action }
                }).done(function(response) {
                    console.log(response);
                });
                return false;
            });
        });
    </script>
    {% endblock %}

</body>
</html>
