{% extends 'wottFrontBundle::layout.html.twig' %}

{% block content %}

<section id="main" class="container-fluid" role="content">
    <div class="row">
        <div class="col-md-5">
            <p> <a href="{{ path('homepage') }}">Home</a> > {{ film.title }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive img-rounded" src="{{ film.urlPoster|image_url_path }}" alt="Affiche du film A">
            <button class="btn btn-default btn-primary center-block">Ajouter à ma watchlist</button>
            <button class="btn btn-default center-block">Liker le film</button>
            <button class="btn btn-default center-block">J'ai vu ce film</button>
        </div>
        <div class="col-md-8">
            <h2>{{ film.title }}</h2>
            <div class="row">
                <div class="col-md-6">
                    <blockquote>
                        <p>Titre original</p> <small><cite title="Original Title">{{ film.originalTitle }}</cite></small>
                        <p>Réalisateur</p> <small><cite title="Director"></cite></small>
                        <p>Sortie au cinéma</p> <small><cite title="Release date">{{ film.releaseDate|date("d/m/Y") }}</cite></small>
                        <p>Durée</p> <small><cite title="runtime">{{ film.runtime }}</cite></small>
                    </blockquote>
                </div>
                <div class="col-md-6">
                    <blockquote>
                        <p>Nationalités</p> <small><cite title="nationalities">{{ film.nationalities }}</cite></small>
                        <p>Genres</p>
                        <small><cite title="genres">
                            {% for genre in film.genres %}
                                {% if loop.last %}
                                {{ genre.name }}
                                {% else %}
                                {{ genre.name }},
                                {% endif %}
                            {% endfor %}
                        </cite></small>
                        <p>Note</p> <small><cite title="note">{{ film.popularity|number_format }} / 100</cite></small>
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <h3>Synopsis</h3>
                <p>{{ film.synopsis }}</p>
                {% if film.urlTrailer == true %}
                <h3>Trailer</h3>
                <div class="videoWrapper">
                    <iframe width="605" height="395" src="http://www.youtube.com/embed/DKKpespYHkg" allowfullscreen=""></iframe>
                </div>
                {% endif %}
                <h3>Acteurs</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="#" alt="Visuel acteur A">
                            <p class="text-center">Nom de l'acteur</p>
                        </div>
                    </div>
                </div>
            </div>     
        </div>
    </div><!--row-->
</section>

{% endblock %}
