{% extends 'wottFrontBundle::layout.html.twig' %}
{% block title %}{{ film.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <p><a href="{{ path('homepage') }}">Home</a> > {{ film.title }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% if film.urlPoster %}
                <img src="{{ film.urlPoster|image_url_path}}" class="img-responsive img-rounded" alt="Affiche du film" />
            {% else %}
                <img src="{{ asset('bundles/wottfront/images/no-poster.jpg') }}" class="center-block img-responsive img-rounded" alt="Pas de visuel disponible pour ce film" />
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <p>
                    {% if filmUser.isSeen == false %}
                        <a href="#" class="action btn btn-default isSeen" data-anim="la-anim-10" data-id="{{ film.id }}" data-action="seen">{{ icon('eye-open') }} Marquer comme vu</a>
                        <h3 class="isSeen hide"><span class="label label-success">{{ icon('ok') }} J'ai vu ce film</span></h3>
                    {% else %}
                        <a href="#" class="action btn btn-default isSeen hide" data-anim="la-anim-10" data-id="{{ film.id }}" data-action="seen">{{ icon('eye-open') }} Marquer comme vu</a>
                        <h3 class="isSeen"><span class="label label-success">{{ icon('ok') }} J'ai vu ce film</span></h3>
                    {% endif %}

                    {% if filmUser.isWanted == false %}
                        <a href="#" class="action btn btn-success isWanted" data-id="{{ film.id }}" data-action="wanted">{{ icon('plus') }} Ajouter à ma watchlist</a>
                        <a href="#" class="action btn btn-danger isWanted hide" data-id="{{ film.id }}" data-action="wanted">{{ icon('minus') }} Retirer de ma watchlist</a>
                    {% else %}
                        <a href="#" class="action btn btn-success isWanted hide" data-id="{{ film.id }}" data-action="wanted">{{ icon('plus') }} Ajouter à ma watchlist</a>
                        <a href="#" class="action btn btn-danger isWanted" data-id="{{ film.id }}" data-action="wanted">{{ icon('minus') }} Retirer de ma watchlist</a>
                    {% endif %}

                    {% if filmUser.isLike == false %}
                        <a href="#" class="action btn btn-danger isLike" data-id="{{ film.id }}" data-action="like">{{ icon('thumbs-down') }} Unliker le film</a>
                        <a href="#" class="action btn btn-info isLike hide" data-id="{{ film.id }}" data-action="like">{{ icon('thumbs-up') }} Liker le film</a>
                    {% else %}
                        <a href="#" class="action btn btn-danger isLike hide" data-id="{{ film.id }}" data-action="like">{{ icon('thumbs-down') }} Unliker le film</a>
                        <a href="#" class="action btn btn-info isLike" data-id="{{ film.id }}" data-action="like">{{ icon('thumbs-up') }} Liker le film</a>
                    {% endif %}
                </p>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h2>{{ film.title }}</h2>
            <div class="row">
                <div class="col-md-6">
                    <blockquote>
                        <p>Titre original</p> <small><cite title="Original title">{{ film.originalTitle }}</cite></small>
                        <p>Réalisateur</p> <small><cite title="Director">{{ director }}</cite></small>
                        <p>Acteurs principaux</p>
                            <small><cite title="Actors">
                                {% for actor in cast|slice(0, 3) %}
                                    {% if loop.last %}
                                        {{ actor }}
                                    {% else %}
                                        {{ actor }},
                                    {% endif %}
                                {% endfor %}
                            </cite></small>
                        <p>Nationalité(s)</p> <small><cite title="Nationalities">{{ film.nationalities }}</cite></small>
                    </blockquote>
                </div>
                <div class="col-md-6">
                    <blockquote>
                        <p>Genre(s)</p>
                            <small><cite title="Genres">
                                {% for genre in film.genres %}
                                    {% if loop.last %}
                                        {{ genre.name }}
                                    {% else %}
                                        {{ genre.name }},
                                    {% endif %}
                                {% endfor %}
                            </cite></small>
                        <p>Durée</p> <small><cite title="Runtime">{{ film.runtime }} min</cite></small>
                        <p>Date de sortie au cinéma</p> <small><cite title="Release date">{{ film.releaseDate|date("d/m/Y") }}</cite></small>
                        <p>Note du film</p> <small><cite title="Note">{{ film.popularity|number_format }} /100</cite></small>
                    </blockquote>
                </div>
            </div>
            <h3>Synopsis</h3>
                <p>{{ film.synopsis }}
            </p>
            {% if film.urlTrailer %}
            <h3>Trailer</h3>
                <div class="videoWrapper">
                    <iframe width="605" height="395" src="//www.youtube.com/embed/{{ film.urlTrailer }}" allowfullscreen=""></iframe>
                </div>
            {% endif %}
         </div>
    </div>

{% endblock %}
