{% extends 'wottFrontBundle::layout.html.twig' %}
{% block title %}{{ film.title }}{% endblock %}

{% block content %}

<section id="main" class="container-fluid" role="content">
    <div class="row">
        <div class="col-md-5">
            <p> <a href="{{ path('homepage') }}">Home</a> > {{ film.title }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="{{ film.urlPoster|image_url_path }}" class='img-responsive img-rounded' alt="Affiche du film A">
            <button class="btn btn-default btn-primary center-block">Ajouter à ma watchlist</button>
            <button class="btn btn-default center-block">Liker le film</button>
            <button class="btn btn-default center-block">J'ai vu ce film</button>
        </div>
        <div class="col-md-8">
            <h2>{{ film.title }}</h2>
            <div class="row">
                <div class="col-md-6">
                    <blockquote>
                        <p>Titre original</p> <small><cite title="Original title">{{ film.originalTitle }}</cite></small>
                        <p>Réalisateur</p> <small><cite title="Director">{{ director }}</cite></small>
                        <p>Acteurs principaux</p> 
                            <small><cite title="Actors">Gotham, United Kingdom
                                {% for actor in cast|slice(0, 3) %}
                                    {% if loop.last %}
                                        {{ actor }}
                                    {% else %}
                                        {{ actor }},
                                    {% endif %}
                                {% endfor %}
                            </cite></small>
                        <p>Nationalité(s)</p> <small><cite title="Nationalities">{{ film.nationalities }}</cite></small>
                    </blockquote>
                </div>
                <div class="col-md-6">
                    <blockquote>
                        <p>Bruce Wayne</p> <small><cite title="Source Title">Gotham, United Kingdom</cite></small>
                        <p>Bruce Wayne</p> <small><cite title="Source Title">Gotham, United Kingdom</cite></small>
                        <p>Bruce Wayne</p> <small><cite title="Source Title">Gotham, United Kingdom</cite></small>
                        <p>Bruce Wayne</p> <small><cite title="Source Title">Gotham, United Kingdom</cite></small>
                    </blockquote>
                </div>
            </div>
            <ul>
                <li>Titre original : {{ film.originalTitle }}</li>
                <li>Film de : {{ director }} </li>
                <li>Acteurs princpaux : {% for actor in cast|slice(0, 3) %}
                                            {% if loop.last %}
                                                {{ actor }}
                                            {% else %}
                                                {{ actor }},
                                            {% endif %}
                                        {% endfor %}</li>
                <li>Nationalité(s) : {{ film.nationalities }}</li>
                <li>Genres : {% for genre in film.genres %}
                                {% if loop.last %}
                                    {{ genre.name }}
                                {% else %}
                                    {{ genre.name }},
                                {% endif %}
                            {% endfor %}</li>
                <li>Temps : {{ film.runtime }}</li>
                <li>Année de sortie cinéma : {{ film.releaseDate|date("d/m/Y") }}</li>
                <li>Note : {{ film.popularity }}</li>
            </ul>
            <h3>Synopsis</h3>
                <p>{{ film.synopsis }}
            </p>
            {% if film.urlTrailer %}
            <h3>Trailer</h3>
                <div class="videoWrapper">  
                    <iframe width="605" height="395" src="//www.youtube.com/embed/{{ film.urlTrailer }}" allowfullscreen=""></iframe>
                </div>
            {% endif %}
         </div>
    </div>
</section>

{% endblock %}
