{% extends "SonataUserBundle:Profile:layout.html.twig" %}

{% block title %}Mon profil{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <h3>{{ 'title_user_edit_authentication'|trans({}, 'SonataUserBundle') }}</h3>
            <div class="well clearfix">
                <form action="{{ path('sonata_user_profile_edit_authentication') }}" method="POST">
                    {{ form_widget(form) }}

                    <button type="submit" name="submit" class="btn btn-primary pull-right">{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <h3>{{ 'sonata_change_password_link'|trans({}, 'SonataUserBundle') }}</h3>
            <div class="well clearfix">
                {% render url("sonata_user_change_password") %}
            </div>
        </div>
    </div>
{% endblock %}