{% extends "SonataUserBundle:Profile:layout.html.twig" %}

{% block title %}Mon profil{% endblock %}

{% block main %}
    <div class="row">
    {% for filmuser in films %}
        <li class="list-group-item row-fluid col-md-12">
            <p class="col-md-2 col-md-offset-1">
                <a href="{{ path('showFilm', { 'id': filmuser.film.id }) }}">
                    <img class="thumbnail img-responsive" src="{{ filmuser.film.urlPoster|image_url_path}}" alt="Vignette du film" />
                </a>
            </p>
            <div class="col-md-6">
                <h3 class="list-group-item-header"><a href="{{ path('showFilm', { 'id': filmuser.film.id }) }}">{{ filmuser.film.title }}</a></h3>
                <p class="list-group-item-text">{{ filmuser.film.synopsis | slice(0, 500) }}</p>
            </div>
            <p class="col-md-3">
               <a href="" class="action btn center-block btn-primary" data-id="{{ filmuser.film.id }}" data-action="Wanted">Retirer de ma watchlist</a>
                <a class="btn center-block btn-default" href="" class="action" data-id="{{ filmuser.film.id }}" data-action="Like">Like</a>
            </p>
        </li>
    {% endfor %}
    </div>
{% endblock %}