{% extends 'SonataUserBundle:Profile:layout.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-md-8">
            <h3>Notifications pour les suggestions</h3>
            <p>Pour recevoir une notification à chaque nouvelle suggestion, cochez les jours où vous souhaitez recevoir une notification.</p>
            <div class="well well-sm clearfix">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="col-md-6">
                        {{ form_row(form.suggestDay, { 'attr': {'placeholder': 'SuggestDay'} }) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_row(form.Valider, { 'attr': {'class': 'pull-right'} }) }}
                        {{ form_end(form) }}
                    </div>
            </div>
        </div>
    </div>

{% endblock %}
