{% extends 'wottFrontBundle::layout.html.twig' %}

{% block content %}

<h1>{{movie.title}}</h1>
<h3>{{movie.originalTitle}}</h3>
<p>{{movie.productionYear}}</p>
<p>{{movie.runtime|ms_in_hours}}</p>

{% for value in movie.nationality %}
    <span>{{ value['$'] }}</span>
{% endfor %}
<br>

{% for value in movie.genre %}
    <span>{{ value['$'] }}</span>
{% endfor %}
<br>

<img src="{{movie.poster.href}}" alt="{{movie.poster.name}}"><br>

<iframe src="{{movie.trailer.href}}" style="width:640px; height:360px" frameborder="0"></iframe><br>

<i>{{movie.castingShort.directors}}</i><br>
<i>{{movie.castingShort.actors}}</i><br>

<p>{{movie.synopsis}}</p>

{% endblock %}