{% extends 'wottFrontBundle::layout.html.twig' %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Nous contacter</h2>
        <p>Vous pouvez nous contacter pour toute demande de renseignements ou autre, en remplissant le formulaire suivant.</p>
        <p>{{ icon('exclamation-sign') }} Vous devez remplir tous les champs.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="well well-sm clearfix">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.Nom) }}
                        {{ form_row(form.Prenom) }}
                        {{ form_row(form.Email) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.Message, { 'attr': {'rows': '9'} }) }}
                    </div>
                </div>
                <div class="col-md-12">
                    {{ form_row(form.save, { 'attr': {'class': 'pull-right'} }) }}
            {{ form_end(form) }}
                </div>
        </div>
    </div>
    <div class="col-md-4">
        <form>
        <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
        <address>
            <strong>WOTT</strong><br>
            5 rue Saint-Augustin,<br>
            75002, Paris<br>
            <abbr title="Phone">
                +33</abbr>
            118 218
        </address>
        <address>
            <a href="mailto:#">contact@wott.com</a>
        </address>
        </form>
    </div>
</div>

{% endblock %}
