{% extends 'wottFrontBundle::layout.html.twig' %}
{% block content %}
    <div class="row" id="filter">
        <div class="col-md-12">
            <div class="navbar navbar-default" role="navigation">
                <div class="collapse navbar-collapse">
                    {{ knp_menu_render('wottFrontBundle:Builder:filtersMenu', { 'style': 'navbar' }) }}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="btn-group">
                                <button type="button" id="grid-btn" class="btn btn-default navbar-btn display-btn active" data-display="grid">{{ icon('th') }}</button>
                                <button type="button" id="list-btn" class="btn btn-default navbar-btn display-btn" data-display="list">{{ icon('th-list') }}</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% block main %}{% endblock %}
{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
$(document).ready(function() {

    var beforeSend = function() {
        $('.progress').show();
        $('#movies').remove();
    };

    $('.display-btn, .genres li').click(function(e) {
        var $this     = $(this)
          , currentId = e.currentTarget.id
          , isGenre   = e.currentTarget.localName == 'li'
          , isDisplay = currentId == 'list-btn' || currentId == 'grid-btn'
          , display   = isDisplay ? $this.data('display') : $('.display-btn.active').data('display')
          , idGenre   = isGenre ? $this.data('id') : $('.genres li.active').data('id');

        $.ajax({
            type       : 'POST',
            url        : '{{ path("list") }}/' + display + '/' + idGenre,
            beforeSend : beforeSend
        }).done(function (response) {
            $('.progress').hide();
            $('#filter').after(response);
            if(isDisplay) $('.display-btn').removeClass('active');
            else $('.genres li').removeClass('active');
            $this.addClass('active');
        });
        return false;
    });

});
</script>

{% endblock %}
