{% extends 'wottFrontBundle::layout.html.twig' %}
{% block content %}
    <!-- menu filtres-->
    <div class="row" id="filter">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <p class="pull-left">Trier par :</p>
                    {{ knp_menu_render('wottFrontBundle:Builder:filtersMenu', { 'style': 'navbar' }) }}
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <div class="pull-right">
                        <button type="button" class="btn bt-default btn-large display dispNone" data-display="grid">{{ icon('th') }}</button>
                        <button type="button" class="btn bt-default btn-large display" data-display="list">{{ icon('th-list') }}</button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!--fin filtres-->


    {% block main %}{% endblock %}
{% endblock %}



{% block javascript %}
{{ parent() }}
<script>
$(document).ready(function(){

    $('.action').click(function(){

        idFilm=$(this).data('id');
        action=$(this).data('action')

        $.ajax({

           type: "POST",
           url: "{{ path('filmuser') }}",
           data: {"idFilm" : idFilm, "action" : action }
         }).done(function (response) {
            console.log(response);
            });

        return false;

    });

    $('.display').click(function(){

        display = $(this).data('display');
        $.ajax({

           type: "POST",
           url: "{{ path('homepage') }}"+display,
           
         }).done(function (response) {
            $('#movies').remove();
            $('#filter').after(response);
            $('.display').toggleClass('dispNone')
            });

        return false;

    });


})
</script>

{% endblock %}

