{% block main %}
    <div class="row" id="movies">
        <ul class="container list-group">
            {% for film in films %}
                <li class="list-group-item row-fluid col-md-12">
                    <p class="col-md-3">
                        <a href="{{ path('showFilm', { 'id': film.id }) }}">
                            <img class="thumbnail" src="{{ film.urlPoster|image_url_path}}" alt="Vignette du film" />
                        </a>
                    </p>
                    <div class="col-md-6">
                        <h2 class="list-group-item-header"><a href="{{ path('showFilm', { 'id': film.id }) }}">{{ film.title }}</a></h2>
                        <p class="list-group-item-text">{{ film.synopsis | slice(0, 500) }}</p>
                    </div>
                    <p class="col-md-3">
                       <a href="" class="action btn center-block btn-primary" data-id="{{ film.id }}" data-action="Wanted">Ajouter à ma watchlist</a>
                        <a class="btn center-block btn-default" href="" class="action" data-id="{{ film.id }}" data-action="Like">Like</a>
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
