{% block main %}

    <div class="row" id="movies">
        {% for film in films %}
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="{{ path('showFilm', { 'id': film.id }) }}">
                        <img src="{{ film.urlPoster|image_url_path}}" alt="Vignette du film" />
                    </a>
                    <div class="caption">
                        <h2 class="text-center"><a href="{{ path('showFilm', { 'id': film.id }) }}">{{ film.title }}</a></h2>
                        <p>{{ film.synopsis | slice(0, 100) }}</p>
                        {% if is_granted('ROLE_USER') %}
                            <a href="#" class="action btn center-block btn-primary" data-id="{{ film.id }}" data-action="Wanted">Ajouter le film à ma watchlist</a>
                            <a class="btn center-block btn-default action" href="#" data-id="{{ film.id }}" data-action="Like">Like</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="progress progress-striped active dispNone">
        <div class="progress-bar" style="width: 100%"></div>
    </div>

    <div class="row">
        <div class="col-md-3 col-md-offset-5">
            <p>Ici la pagination</p>
        </div>
    </div>

{% endblock %}
