{% extends 'wottFrontBundle:Default:home_layout.html.twig' %}

{% block main %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="col-md-12 flash-notice alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="row" id="movies">
        {% for film in films %}
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="{{ path('showFilm', { 'id': film.id }) }}">
                        {% if film.urlPoster %}
                            <img src="{{ film.urlPoster|image_url_path}}" class="img-rounded" alt="Vignette du film" />
                        {% else %}
                            <img src="{{ asset('bundles/wottfront/images/no-poster.jpg') }}" alt="Pas de visuel disponible pour ce film" />
                        {% endif %}
                    </a>
                    <div class="caption">
                        <h2 class="text-center"><a href="{{ path('showFilm', { 'id': film.id }) }}">{{ film.title }}</a></h2>
                        <p>{{ film.synopsis | slice(0, 100) }}...</p>
                        {% if is_granted('ROLE_USER') %}
                            <a href="#" class="action btn center-block btn-primary" data-id="{{ film.id }}" data-action="Wanted">Ajouter le film à ma watchlist</a>
                            <a class="btn center-block btn-default action" href="#" data-id="{{ film.id }}" data-action="Like">Like</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="progress progress-striped active dispNone">
        <div class="progress-bar" style="width: 100%"></div>
    </div>

    <div class="row">
        <div class="col-md-3 col-md-offset-5">
            <p>Ici la pagination</p>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
