{% block main %}
    <div class="row" id="movies">
        <ul class="container list-group">
            {% for film in films %}
                <li class="list-group-item row-fluid col-md-12">
                    <p class="col-md-3">
                        <a href="{{ path('showFilm', { 'id': film.id }) }}">
                            <img class="thumbnail" src="{{ film.urlPoster|image_url_path}}" alt="Vignette du film" />
                        </a>
                    </p>
                    <div class="col-md-6">
                        <h2 class="list-group-item-header"><a href="{{ path('showFilm', { 'id': film.id }) }}">{{ film.title }}</a></h2>
                        <p class="list-group-item-text">{{ film.synopsis | slice(0, 500) }}...</p>
                    </div>
                    <p class="col-md-3">
                        {% if is_granted('ROLE_USER') %}
                            {% if attribute(filmsUser, film.id) is defined and attribute(filmsUser, film.id).isWanted == false %}
                                <a href="#" class="action btn btn-success center-block isWanted hide" data-id="{{ film.id }}" data-action="wanted">{{ icon('plus') }} Ajouter à ma watchlist</a>
                                <a href="#" class="action btn btn-danger center-block isWanted" data-id="{{ film.id }}" data-action="wanted">{{ icon('minus') }} Retirer de ma watchlist</a>
                            {% else %}
                                <a href="#" class="action btn btn-success center-block isWanted" data-id="{{ film.id }}" data-action="wanted">{{ icon('plus') }} Ajouter à ma watchlist</a>
                                <a href="#" class="action btn btn-danger center-block isWanted hide" data-id="{{ film.id }}" data-action="wanted">{{ icon('minus') }} Retirer de ma watchlist</a>
                            {% endif %}

                            {% if attribute(filmsUser, film.id) is defined and attribute(filmsUser, film.id).isLike == false %}
                                <a href="#" class="action btn btn-danger center-block isLike" data-id="{{ film.id }}" data-action="like">{{ icon('thumbs-down') }} Unliker le film</a>
                                <a href="#" class="action btn btn-info center-block isLike hide" data-id="{{ film.id }}" data-action="like">{{ icon('thumbs-up') }} Liker le film</a>
                            {% else %}
                                <a href="#" class="action btn btn-danger center-block isLike hide" data-id="{{ film.id }}" data-action="like">{{ icon('thumbs-down') }} Unliker le film</a>
                                <a href="#" class="action btn btn-info center-block isLike" data-id="{{ film.id }}" data-action="like">{{ icon('thumbs-up') }} Liker le film</a>
                            {% endif %}
                        {% endif %}
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
