{% block main %}

    <div class="row" id="movies">
        {% for film in films %}
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="{{ path('showFilm', { 'id': film.id }) }}">
                        <img src="{{ film.urlPoster|image_url_path}}" alt="Vignette du film" />
                    </a>
                    <div class="caption">
                        <h2 class="text-center"><a href="{{ path('showFilm', { 'id': film.id }) }}">{{ film.title }}</a></h2>
                        <p>{{ film.synopsis | slice(0, 100) }}...</p>
                        {% if is_granted('ROLE_USER') %}
                            {% if attribute(filmsUser, film.id) is defined and attribute(filmsUser, film.id).isWanted == false %}
                                <a href="#" class="action btn btn-success center-block isWanted hide" data-id="{{ film.id }}" data-action="wanted">{{ icon('plus') }} Ajouter à ma watchlist</a>
                                <a href="#" class="action btn btn-danger center-block isWanted" data-id="{{ film.id }}" data-action="wanted">{{ icon('minus') }} Retirer de ma watchlist</a>
                            {% else %}
                                <a href="#" class="action btn btn-success center-block isWanted" data-id="{{ film.id }}" data-action="wanted">{{ icon('plus') }} Ajouter à ma watchlist</a>
                                <a href="#" class="action btn btn-danger center-block isWanted hide" data-id="{{ film.id }}" data-action="wanted">{{ icon('minus') }} Retirer de ma watchlist</a>
                            {% endif %}

                            {% if attribute(filmsUser, film.id) is defined and attribute(filmsUser, film.id).isLike == false %}
                                <a href="#" class="action btn btn-danger center-block isLike" data-id="{{ film.id }}" data-action="like">{{ icon('thumbs-down') }} Unliker le film</a>
                                <a href="#" class="action btn btn-info center-block isLike hide" data-id="{{ film.id }}" data-action="like">{{ icon('thumbs-up') }} Liker le film</a>
                            {% else %}
                                <a href="#" class="action btn btn-danger center-block isLike hide" data-id="{{ film.id }}" data-action="like">{{ icon('thumbs-down') }} Unliker le film</a>
                                <a href="#" class="action btn btn-info center-block isLike" data-id="{{ film.id }}" data-action="like">{{ icon('thumbs-up') }} Liker le film</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
